<footer class="page-footer">
    <!-- Contact Us -->
    <div class="contact">
        <div class="container">
            <h2 class="section-heading">Contact Us</h2>
            <p><span class="glyphicon glyphicon-earphone"></span><br> +33 2 34 56 78 91</p>
            <p><span class="glyphicon glyphicon-envelope"></span><br> info@alfred.com</p>
        </div>
    </div>

    <!-- Copyright etc -->
    <div class="small-print">
        <div class="container">
            <p>Copyright &copy; alfred.com 2019</p>
        </div>
    </div>
</footer>