<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Alfred</h1>
            <p>Phenomenal Moderation bot.</p>
            <a href="<%= invite_link %>" class="btn btn-primary btn-lg">Add it to my Discord Guild</a>
        </div>
    </div>
</header>